/* Colors */
$color-background: rgb(154, 203, 243);
$color-font: #F9CDAD;
$color-font-dark: #FE4365;
$color-hover: #FC9D9A;
$color-elements: #FE4365;
$color-border: #C8C8A9;
$color-highRisk:#e02d00;
$color-extraHighRisk:#ff0000;
$color-mediumRisk:#e6e273;
$color-lowRisk:#58b942;
$color-black:#000;

/* heights */
$height-html: 100vh;
$height-body: 100vh;
$height-header: 5vh;
$height-article: 95vh;

/* widths */
$width-html: 100vw;
$width-body: 95vw;
$width-article: 98vw;

/* margin */
$margin-body: 0%;
$margin-none: 0%;
$margin-header: 1% 0 1% 0;

/* padding */
$padding-body: 0% 5% 0% 5%;

/* box shadow */
$shadow-cards:8px 7px 22px -2px rgba(254,67,101,0.8);

