<div class="sensorsHomeContainer">
  <ngx-spinner></ngx-spinner>

  <div
    class="sensorInformation"
    [ngClass]="getInfluenzaClass()"
    *ngIf="!isErrorDisplayed"
    tabindex="0"
  >
    <h2>Alerta gripe: {{ riskInfluenza.title }}</h2>
    <span>{{ riskInfluenza.description }}</span>
  </div>

  <div
    class="sensorInformation"
    [ngClass]="getParticlesClass()"
    *ngIf="!isErrorDisplayed"
    tabindex="0"
  >
    <h2>Alerta alergia: {{ riskParticles.title }}</h2>
    <span>{{ riskParticles.description }}</span>
  </div>

  <span *ngIf="isErrorDisplayed" class="errorMessage" tabindex="0">
    Error al recibir los datos, volveremos a probar en unos segundos
  </span>

  <div class="buttonsDiv">
    <button class="generalButton" (click)="seeEvolutionData()">
      Histórico
    </button>
    <button class="generalButton" (click)="seePredictions()">
      Predicciones
    </button>
  </div>
</div>
